* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    background: #021222;
    height: 80px;
    position: relative;
    z-index: 999;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}

.container-logo{
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.container-logo h2 {
    color: #95bdd8;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 1px;
}

.container-logo h2 span {
    color: #0590ec;
    font-weight: 700;
}

.links {
    display: flex;
    width: 300px;
    justify-content: space-around;   
}

.links li{
    list-style: none;
}

.links .link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.link a {
    text-decoration: none;
    color: #d1faf4;
    font-size: 20px;
    margin: 0 25px;
    letter-spacing: 3px;
    cursor: pointer;
}

.link a:hover {
    color: #487abb;
}

.toggle {
    color: #d1faf4;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate {
    transform: rotate(180deg);
}
@media screen and (max-width: 800px) {
    .toggle {
        display: inline-block;
        cursor: pointer;
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        overflow: hidden;
        height: calc(100vh-80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 80px
    }

    .links .link:hover {
        background: #051c38;
    }
}