.products {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    color: #000;
    font-weight: 900;
}

.list-of-products {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 5px;
    max-width: 1000px;
}
