.cart {
    margin: auto;
    max-width: 1200px;
    margin-top: 20px;
}
.shopping {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.shopping td, .shopping th {
    border: 1px solid #ddd;
    padding: 8px;
}

.shopping tr:nth-child(even){background-color: #f2f2f2;}

.shopping tr:hover {background-color: #ddd;}

.shopping th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color1);
    color: var(--color3);
}

.img-cart {
    width: 50px;
    height: 50px;
}

.img-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-quantity {
    padding: 2px;
    margin: 7px;
    cursor: pointer;
}

.btn-quantity:hover {
    background: var(--color1);
    color: var(--color3);
}

.trash {
    cursor: pointer;
}

.btn-clean {
    background: var(--color2);
    padding: 5px;
    color: var(--color3);
    font-weight: 700;
    border-radius: 5px;
}